<h1>Фильмы сегодня</h1>

<table>
  <thead>
    <tr>
      <th>Название</th>
      <th>Расписание</th>
    </tr>
  </thead>

  <tbody>
    <% @films.each do |film| %>
      <tr>
        <td><%= film.title %></td>
        <td>
          <% film.seances.each do |seance|%>
             <%= seance.begin_at %> 
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
