<h1>Коломна. Фильмы сегодня</h1>

<table cellpadding="4"  border="1">
  <thead>
    <tr>
      <th>Кинотеатр</th>
      <th>Фильм</th>
      <th>Сеансы</th>
    </tr>
  </thead>

  <tbody>
    <% @films.each do |film| %>
      <tr>
        <td><%= film.cinema %></td>
        <td><%= film.title %></td>
        <td>
          <% film.seances.each do |seance| %>
             <%= seance.begin_at %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Обновить список фильмов', update_path %>
